#content {
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
}

#header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


#sidebar {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}