/* body {
    background: red;
} */

/* //for the first example with the h2 */

/* id */
#subsubtitle { 
    color : greenyellow
}

/* class */
.title {
    color: red
}

.subtitle {
    color: skyblue;
}

#firstpara {
    color: grey
}

/* pseudoselector -> element:pseudoselector */

/* hover to change color */
h2:hover {
    color: red
}


/* for the second example with li, pseudoselectors for li-> kind of like a member method  */

/* color ( nth ) child */
li:nth-child(2) { 
    color: steelblue
}

/* color first child of list */
li:first-child{
    color:blue
}

/* color last child of list */
li:last-child{
    color:aqua
}

/* if li got only one child -> ignores the above li:first-child */
li:only-child { 
    color: purple
}

/* pseudoselectors do nothing if such target to invokedoes not exist */

/* pseudoselector for anchor, href */

/* 
    link colour 
#google-link:link {
    color: blue
}

    colour for visited link 
#google-link:visited{
    color: purple
} */

/* advanced selectors */

/* + represents follow */
/* target to invoke -> all anchor tags that follow a h2 */
h2 + a {
    color: red;
}